body {
    text-align: center;
    background-color: rgb(255, 189, 189);
}

header {
    background-color: rgb(145, 135, 197);
    display: flex;
    align-items: center;

    justify-content: space-between;
}

header section {
    padding: 40px;
    margin-left: 10px;
    position: relative;    
}

header section div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.205);
    z-index: 1;
    width: 100%;

}

header section div a {
    color: rgb(51, 51, 51);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header section:hover {
    background-color: #262D55;
}

header section div a:hover {
    color: rgb(255, 238, 216);
    background-color: #262d55;
}

header section:hover div {
    display: block;
    background-color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 238, 216);
    text-decoration: none;
}

.logo {
    float: none;
    margin-right: auto;
}

.imagen_portada img {
    width: 100%;
    max-height: 400px;
}


.sensa {
    border: 2px solid grey;
    background-color: aliceblue;
}

.sensa h3 {
    border-top: 2px solid grey;
}

.packs {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.packs div {
    padding: 10px;
    background-color: rgb(184, 253, 253);
}

.presentacion_planes {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gold {
    align-items: center;
    width: 40%;
    height: 650px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffecc4;
    margin: 0 auto;
    /* This will center the element horizontally */
}

.encabezado_plan {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* Apila los elementos verticalmente */

    /* Centra el texto */
    gap: 10px;
}

.encabezado_plan p {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.encabezado_plan h3 {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.plan {
    color: rgb(255, 145, 0);

}

.gold footer {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 2px;
    border-top: 2px solid rgb(187, 187, 187);
    justify-content: space-between;
    font-size: 26px;
    /* Ajusta el tamaño de la fuente */
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 145, 0);
    border: 0;
    border-radius: 8%;
    width: 100px;
    height: 50px;
}

.gold img {
    margin: 10px;
    height: 70px;
    width: 90px;
}

.porque {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}


section article img{
    height: 200px;
    width: 400px;
}

.pie_de_pagina article {
    padding: 8px;
}

.pie_de_pagina {
    color: #ffffff;
    background-color: rgb(51, 48, 48);
    display: flex;
    justify-content: center;
    margin-top: 16px;
    border-top: 3px solid grey;

}